/* Tuguinay */
li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
.movies-section {
  width: 90%;
  margin: auto;
}

.movies-section ul li {
  display: inline-block;
  vertical-align: top;
  width: 400px;
  position: relative;
  overflow: hidden;
  background: inherit;
  padding: 30px;
  margin-bottom: 50px;
  box-sizing: border-box;
}
.movies-section ul li:hover .item_list {
  text-align: center;
  opacity: 1;
  margin-top: 5px;
  padding: inherit;
  width: 400px;
}

.movies-section ul li img {
  max-width: 338px;
  width: 100%;
  height: auto;
  display: block;
}
/* Tuguinay */

/* Hilarion */
.item_list {
  position: absolute;
  bottom: 0;
  background-color: #f2ede9;
  padding: 20px;
  overflow: hidden;
  height: 100%;
  width: 400px;
  overflow-y: scroll;
  opacity: 0;

}
.item_list h3 {
  margin-bottom: 10px;
  font-size: 18px;
}
.item_list p {
  line-height: 1.4;
  font-size: 15px;
}

.list {
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FFF;
}
.list:after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 20px;
  height: 20px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid white;
  content: "";
  border-radius: 100px;
}



@media(max-width: 1825px){
  .movies-section ul li {
    display: inline-block;
    vertical-align: top;
    width: 33%;
    position: relative;
    overflow: hidden;
    background: inherit;
    padding: 30px;
    margin-bottom: 50px;
    box-sizing: border-box;
  }
}



@media(max-width: 1380px){
  .movies-section ul li {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    position: relative;
    overflow: hidden;
    background: inherit;
    padding: 30px;
    margin-bottom: 50px;
    box-sizing: border-box;
  }
}

@media(max-width: 935px){
  .movies-section ul li {;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: inherit;
    padding: 30px;
    margin-bottom: 50px;
    box-sizing: border-box;
    margin: auto
  }
}


