li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
.container ul li {
  display: inline-block;
  vertical-align: top;
  width: 26vw;
  position: relative;
  overflow: hidden;
  background: inherit;
  padding: 30px;
  margin-bottom: 50;
}
.container ul li:hover .item_list {
  opacity: 1;
  margin-top: 5px;
  padding: inherit;
  width: 25vw;
}

.container ul li img {
  width: 100%;
  height: auto;
  display: block;
}
.item_list {
  position: absolute;
  bottom: 0;
  background-color: #f2ede9;
  padding: 20px;
  overflow: hidden;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  opacity: 0;

}
.item_list h3 {
  margin-bottom: 10px;
  font-size: 18px;
}
.item_list p {
  line-height: 1.4;
  font-size: 15px;
}

.list {
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FFF;
}
.list:after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 20px;
  height: 20px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid white;
  content: "";
  border-radius: 100px;
}

